**ids-pdl09-hwk.ipynb**: This Jupyter notebook is provided by Joachim Vogt for the _Python Data Lab_ of the module _Introduction to Data Science_ offered in Fall 2022 at Jacobs University Bremen. Module instructors are Hilke Brockmann, Adalbert Wilhelm, and Joachim Vogt. Jupyter notebooks and other learning resources are available from a dedicated _module platform_.

# Homework assignments: Working with Pandas

The homework assignments in this notebook supplement the tutorial *Working with Pandas*.

- Solve the assignments according to the instructions.
- Upload the completed notebook to the module platform.
- Do not forget to enter your name in the markdown cell below.

The homework set carries a total of 20 points. Square brackets in the assignment titles specify individual point contributions.

## Name:Joshua Law

---
---

## Preparation

Import NumPy, `pyplot` from matplotlib, and Pandas as usual.

In [110]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

The following data files are expected to reside in the working directory. Identify the files on the module platform and upload them to the same folder as this Jupyter notebook.

- `gdp-per-capita-in-us-dollar-world-bank.csv`: GDP per capita in constant 2010 US dollars 1960-2020, published by the [World Bank, 2021-07-30](http://data.worldbank.org/data-catalog/world-development-indicators), available from [Our World in Data](https://ourworldindata.org/grapher/gdp-per-capita-in-us-dollar-world-bank).
- `life-expectancy-at-birth-total-years.csv`: Life expectancy at birth 1960-2019, published by the [World Bank, 2021-07-30](http://data.worldbank.org/data-catalog/world-development-indicators), available from [Our World in Data](https://ourworldindata.org/grapher/life-expectancy-at-birth-total-years).
- `leb_gdpint_decade.png`: graphics of a table to be reproduced in the assignment *Pivot tables*.

## Assignment: Hierarchical indexing [5]

According to [Wikipedia (accessed on 2022-07-26)](https://de.wikipedia.org/wiki/Liste_der_Gro%C3%9F-_und_Mittelst%C3%A4dte_in_Deutschland), the resident numbers of Berlin, Cologne, Hamburg, Munich in the years 1980, 2000, 2020/21 were as follows.

| City     | 1980    | 2000    | 2020/21 |
|:---------|:-------:|:-------:|:-------:|
| Berlin   | 3048759 | 3382169 | 3677472 | 	
| Cologne  |  976694 |  962884 | 1073096 |
| Hamburg  | 1645095 | 1715392 | 1853935 |
| Munich   | 1298941 | 1210223 | 1487708 |

In the cell below,

1. store the three sets of resident numbers for the years 1980, 2000, 2020/21 in a single Pandas DataFrame object `ResA` indexed by the city names,
2. apply the function `stack()` to `ResA` and store the result in a Pandas Series object `ResB`,
3. from `ResB` obtain the index (a MultiIndex object) and store it as `IndB`,  
4. using the Pandas function `MultiIndex.from_arrays()`, construct a MultiIndex object `IndC` identical to `IndB`,
5. using the Pandas function `MultiIndex.from_product()`, construct a MultiIndex object `IndD` identical to `IndB`.

In [111]:
### Construct and display Pandas DataFrame ResA.
from inspect import stack


ResA = pd.DataFrame({'1980':[3048759,976694,1645095,1298941],'2000':[3382169,962884,1715392,1210223],'2020/21':[3677472,1073096,1853935,1487708]},index=['Berlin','Cologne','Hamburg','Munich'])
display(ResA)
### Stack ResA to obtain ResB.
ResB = ResA.stack()
display(ResB)
### Store the index of ResB in variable IndB, then display.
IndB = ResB.index
display(IndB)
### Construct and display MultiIndex object IndC from arrays.
IndC = pd.MultiIndex.from_arrays(IndB)
display(IndC)
### Construct and display MultiIndex object IndD from product.
IndD = pd.MultiIndex.from_product(IndB)
display(IndD)

            1980     2000  2020/21
Berlin   3048759  3382169  3677472
Cologne   976694   962884  1073096
Hamburg  1645095  1715392  1853935
Munich   1298941  1210223  1487708

Berlin   1980       3048759
         2000       3382169
         2020/21    3677472
Cologne  1980        976694
         2000        962884
         2020/21    1073096
Hamburg  1980       1645095
         2000       1715392
         2020/21    1853935
Munich   1980       1298941
         2000       1210223
         2020/21    1487708
dtype: int64

MultiIndex([( 'Berlin',    '1980'),
            ( 'Berlin',    '2000'),
            ( 'Berlin', '2020/21'),
            ('Cologne',    '1980'),
            ('Cologne',    '2000'),
            ('Cologne', '2020/21'),
            ('Hamburg',    '1980'),
            ('Hamburg',    '2000'),
            ('Hamburg', '2020/21'),
            ( 'Munich',    '1980'),
            ( 'Munich',    '2000'),
            ( 'Munich', '2020/21')],
           )

MultiIndex([('Berlin', 'Berlin',  'Berlin', 'Cologne', 'Cologne', ...),
            (  '1980',   '2000', '2020/21',    '1980',    '2000', ...)],
           )

MultiIndex([('Berlin', 'Berlin',  'Berlin', 'Cologne', 'Cologne', ...),
            ('Berlin', 'Berlin',  'Berlin', 'Cologne', 'Cologne', ...),
            ('Berlin', 'Berlin',  'Berlin', 'Cologne', 'Cologne', ...),
            ('Berlin', 'Berlin',  'Berlin', 'Cologne', 'Cologne', ...),
            ('Berlin', 'Berlin',  'Berlin', 'Cologne', 'Cologne', ...),
            ('Berlin', 'Berlin',  'Berlin', 'Cologne', 'Cologne', ...),
            ('Berlin', 'Berlin',  'Berlin', 'Cologne', 'Cologne', ...),
            ('Berlin', 'Berlin',  'Berlin', 'Cologne', 'Cologne', ...),
            ('Berlin', 'Berlin',  'Berlin', 'Cologne', 'Cologne', ...),
            ('Berlin', 'Berlin',  'Berlin', 'Cologne', 'Cologne', ...),
            ...
            (  '1980',   '2000', '2020/21',    '1980',    '2000', ...),
            (  '1980',   '2000', '2020/21',    '1980',    '2000', ...),
            (  '1980',   '2000', '2020/21',    '1980',    '2000', ...),
            (  '1980',   '2000', '2020/21',    '1980',    '2000', ...),
            (  '1980',   '2000', '2020/21',    '1980',    '2000', ...),
            (  '1980',   '2000', '2020/21',    '1980',    '2000', ...),
            (  '1980',   '2000', '2020/21',    '1980',    '2000', ...),
            (  '1980',   '2000', '2020/21',    '1980',    '2000', ...),
            (  '1980',   '2000', '2020/21',    '1980',    '2000', ...),
            (  '1980',   '2000', '2020/21',    '1980',    '2000', ...)],
           length=4096)

## Assignment: GroupBy mechanism [8]

The file `gdp-per-capita-in-us-dollar-world-bank.csv` contains data on GDP per capita in constant 2010 US dollars 1960-2020, as published by the [World Bank on 2021-07-30](http://data.worldbank.org/data-catalog/world-development-indicators), and made available through [Our World in Data](https://ourworldindata.org/grapher/gdp-per-capita-in-us-dollar-world-bank).

- Click on the filename in the directory listing to display the content of this comma-separated text file to study the structure.
- Consult the associated tutorial notebook `ids-pdl09-tut.ipynb` and study how the data from the file `life-expectancy-at-birth-total-years.csv` are processed.
- The same processing steps are to be applied to the GDP per capita data from the file `gdp-per-capita-in-us-dollar-world-bank.csv`. Details are given below.

Using the Pandas function `read_csv()`, the data are loaded and stored in a DataFrame.

In [112]:
gdp_full = pd.read_csv("gdp-per-capita-in-us-dollar-world-bank.csv")
display(gdp_full)

            Entity Code  Year  GDP per capita (constant 2010 US$)
0      Afghanistan  AFG  2002                          330.303494
1      Afghanistan  AFG  2003                          343.080890
2      Afghanistan  AFG  2004                          333.216617
3      Afghanistan  AFG  2005                          357.234762
4      Afghanistan  AFG  2006                          365.284371
...            ...  ...   ...                                 ...
12147     Zimbabwe  ZWE  2016                         1224.314460
12148     Zimbabwe  ZWE  2017                         1263.278346
12149     Zimbabwe  ZWE  2018                         1289.146499
12150     Zimbabwe  ZWE  2019                         1168.008072
12151     Zimbabwe  ZWE  2020                         1058.845827

[12152 rows x 4 columns]

From the full DataFrame `gdp_full`, remove rows for entities that are not single countries but world regions.

In [113]:
gdp_full = gdp_full[gdp_full.isnull().any(1)]
display(gdp_full)

C:\Users\lawjo\AppData\Local\Temp\ipykernel_25936\2309287392.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  gdp_full = gdp_full[gdp_full.isnull().any(1)]

,Entity,Code,Year,GDP per capita (constant 2010 US$)
19,Africa Eastern and Southern,NaN,1960,1180.425371
20,Africa Eastern and Southern,NaN,1961,1163.432401
21,Africa Eastern and Southern,NaN,1962,1218.764175
22,Africa Eastern and Southern,NaN,1963,1255.986048
23,Africa Eastern and Southern,NaN,1964,1290.749907
...,...,...,...,...
11706,Upper middle income,NaN,2016,7996.027814
11707,Upper middle income,NaN,2017,8323.758524
11708,Upper middle income,NaN,2018,8645.607976
11709,Upper middle income,NaN,2019,8920.750691
11710,Upper middle income,NaN,2020,8773.875288

Rename the GDP per capita column label to `'GDP/cap.'`.

In [114]:
gdp_full.rename(columns={"GDP per capita (constant 2010 US$)":"GDP/cap."})

                            Entity Code  Year     GDP/cap.
19     Africa Eastern and Southern  NaN  1960  1180.425371
20     Africa Eastern and Southern  NaN  1961  1163.432401
21     Africa Eastern and Southern  NaN  1962  1218.764175
22     Africa Eastern and Southern  NaN  1963  1255.986048
23     Africa Eastern and Southern  NaN  1964  1290.749907
...                            ...  ...   ...          ...
11706          Upper middle income  NaN  2016  7996.027814
11707          Upper middle income  NaN  2017  8323.758524
11708          Upper middle income  NaN  2018  8645.607976
11709          Upper middle income  NaN  2019  8920.750691
11710          Upper middle income  NaN  2020  8773.875288

[2566 rows x 4 columns]

Store the column of GDP per capita values.

In [132]:
gdp_full["GDP/cap."].values.tolist()

KeyError: 'GDP/cap.'

Construct the MultiIndex object from the `'Code'` and `'Year'` columns.

Using the array of GDP per capita values with the MultiIndex object as an index, we construct a Series object that is then unstacked to yield a DataFrame in the desired format.

Rows and columns are swapped through the application of `transpose()`.

Apply the `describe()` method to obtain summary statistics of a DataFrame.

Apply the GroupBy mechanism to aggregate the GDP per capita data from the DataFrame `gdp_full` in decades, using `min`, `median`, and `max` as aggregation functions.

*Hint*: Consult [section 3.08 Aggregation and Grouping](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html) of the 
[Python Data Science Handbook by Jake Vanderplas](https://jakevdp.github.io/PythonDataScienceHandbook/) for an effective implementation of decade aggregation.

## Assignment: Pivot tables [7]

The pivot table below shows the median life expectancy at birth in the six decades since 1960 for selected intervals of GDP per capita in 2010 US\$. As before, all statistics are based on the country distributions given in the files `life-expectancy-at-birth-total-years.csv` and `gdp-per-capita-in-us-dollar-world-bank.csv`.

![](leb_gdpint_decade.png)

Follow the instructions below to reproduce this pivot table.

Using the Pandas functions `read_csv()` and `merge()`, join the contents of the files `life-expectancy-at-birth-total-years.csv` and `gdp-per-capita-in-us-dollar-world-bank.csv` to obtain a single Pandas DataFrame object `leb_gdp`. Drop undefined data and world regions, keeping only data from indvidual countries, and rename inconveniently long column labels. See the first session of the Python Data Lab for an implementation of this sequence of operations.

In [119]:
leb = pd.read_csv("life-expectancy-at-birth-total-years.csv")
gdp = pd.read_csv("gdp-per-capita-in-us-dollar-world-bank.csv")
leb_gdp = leb.merge(gdp)
display(leb_gdp)

,Entity,Code,Year,"Life expectancy at birth, total (years)",GDP per capita (constant 2010 US$)
0,Afghanistan,AFG,2002,56.784,330.303494
1,Afghanistan,AFG,2003,57.271,343.080890
2,Afghanistan,AFG,2004,57.772,333.216617
3,Afghanistan,AFG,2005,58.290,357.234762
4,Afghanistan,AFG,2006,58.826,365.284371
...,...,...,...,...,...
11474,Zimbabwe,ZWE,2015,59.534,1234.102191
11475,Zimbabwe,ZWE,2016,60.294,1224.314460
11476,Zimbabwe,ZWE,2017,60.812,1263.278346
11477,Zimbabwe,ZWE,2018,61.195,1289.146499
11478,Zimbabwe,ZWE,2019,61.490,1168.008072

Construct the variable `decade` from the `Year` column of the DataFrame `leb_gdp`.

In [123]:
decade = 10*( leb_gdp['Year'] // 10 )
decade = decade.astype(str)+'s'
decade.name = 'Decade'
print(decade)

0        2000s
1        2000s
2        2000s
3        2000s
4        2000s
         ...
11474    2010s
11475    2010s
11476    2010s
11477    2010s
11478    2010s
Name: Decade, Length: 11479, dtype: object

Using the Pandas function `cut()`, define partitions of the GDP per capita data column in `leb_gdp` into intervals with boundaries `0,300,1000,3000,10000,30000,100000,300000`, and save them in the variable `gdp_partition`.

In [125]:
gdp_partition = pd.cut(leb_gdp["GDP per capita (constant 2010 US$)"],[0,300,1000,3000,10000,30000,100000,300000])
print(gdp_partition)

0         (300, 1000]
1         (300, 1000]
2         (300, 1000]
3         (300, 1000]
4         (300, 1000]
             ...
11474    (1000, 3000]
11475    (1000, 3000]
11476    (1000, 3000]
11477    (1000, 3000]
11478    (1000, 3000]
Name: GDP per capita (constant 2010 US$), Length: 11479, dtype: category
Categories (7, interval[int64, right]): [(0, 300] < (300, 1000] < (1000, 3000] < (3000, 10000] < (10000, 30000] < (30000, 100000] < (100000, 300000]]

Call the Pandas function `pivot_table()` on the life expectancy at birth column as key variable, with `decade` and `gdp_partition` as further arguments, and `median` as the aggregation function.

In [131]:
table = pd.pivot_table(leb_gdp["Life expectancy at birth, total (years)"],values=gdp_partition,index=decade,aggfunc=np.median)

KeyError: Interval(300, 1000, closed='right')

---
---